html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, HelveticaNeue, sans-serif;
}

.pageLight {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    
}

.pageDark {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #222;
}

.outerContainer {
    position: relative;
    max-width: 1000px;
    margin: 3% 0% 0 8%;
}

.navBarLight {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    width: 40%;
    color: black;
}

.navBarDark {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    width: 40%;
    color: #fff;
}

.navBarLight > li, .navBarDark > li {
    margin: 0 0 0 20px;
    font-weight: 600;
    padding: 0;
}

.navBarLight > li:nth-child(1), .navBarDark > li:nth-child(1) {
    margin: 0;
}

.navBarLight > li:hover, .navBarDark > li:hover {
    cursor: pointer;
}

.navActive {
    text-decoration: underline;
    color: crimson;   
}

ul {
    list-style: none;
}

.newsItem {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.loaderStripLight {
    background-color: #fff;
    color: #000;
}

.loaderStripDark {
    background-color: #222;
    color: #fff;
}

.storiesContainerLight {
    max-width: 1000px;
    margin: 4% auto;
    background-color: #ebebeb;
}

.storiesContainerDark {
    max-width: 1000px;
    margin: 4% auto;
    background-color: #111;
}

.storiesList {
    display: flex;
    flex-direction: column;
}

.newsItemTitle {
    color: crimson;
    font-weight: 600;
    margin-bottom: 10px;
}

.infoSubjectLight {
    color: #000;
    font-size: 16px;
}

.infoSubjectDark {
    color: #fff;
    font-size: 16px;
}

.infoText {
    color: grey;
    font-size: 16px;
}

.commentContainerLight {
    background-color: #ead9d9;
    margin-top: 20px;
    text-indent: 10px;
    padding-top: 10px;
}

.commentContainerDark {
    background-color: #111;
    margin-top: 20px;
    text-indent: 10px;
    padding-top: 10px;
}

.commentBodyLight {
    text-indent: 0;
    padding: 15px;
    color: #000;
}

.commentBodyDark {
    text-indent: 0;
    padding: 15px;
    color: #fff;
}

.aboutUserLight {
    margin-top: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #000;
}

.aboutUserDark {
    margin-top: 30px;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}

.userPostTitleLight {
    color: #000;
}

.userPostTitleDark {
    color: #fff;
}

.themeContainer {
    position: absolute;
    left: 84%;
    top: -20px;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.switchLight {
    width: 45px;
    height: 65px;
    margin-top: 0;
}

.switchLight2 {
    width: 45px;
    height: 65px;
    margin-top: 0;
    transform: rotate(30deg);
}

.loaderContainerLight {
    height: 20px;
    width: 250px;
    margin: auto;
    background-color: #fff;
}
.loaderContainerDark {
    height: 20px;
    width: 250px;
    margin: auto;
    background-color: #222;
}

.circle {
    position: absolute;
    border: solid 1px #fff;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #000;
    animation-name: loading;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    box-shadow: 1px 1px 1px;
}
.circle:nth-of-type(1) {
    background-color: crimson;
    animation-delay: 0.5s;
}
.circle:nth-of-type(2) {
    background-color: crimson;
    animation-delay: 0.4s;
}
.circle:nth-of-type(3) {
    background-color: crimson;
    animation-delay: 0.3s;
}
.circle:nth-of-type(4) {
    background-color: crimson;
    animation-delay: 0.2s;
}
.circle:nth-of-type(5) {
    background-color: crimson;
    animation-delay: 0.1s;
}
.circle:nth-of-type(6) {
    background-color: crimson;
    animation-delay: 0s;
}

@keyframes loading {
    15% {
    transform: translate(0);
    }
    45% {
    transform: translate( 250px,0px );
    }
    65% {
    transform: translate( 250px,0px);
    }
    95% {
    transform: translate(0);
        
    }
}